<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Calculateur de notes</title>
</head>
<body>
  
  <form id="form">
    <label>Matière<input type="text" id="title" placeholder="Matière"></label>
    <label>Note<input type="number" id="note" placeholder="Note"></label>
    <label>Coefficient<input type="number" id="coeff" placeholder="Coefficient"></label>
    <input type="submit" value="Submit">
  </form>
  <!-- Ajoute avant le formulaire notes -->

<div id="auth">
  <h2>Connexion</h2>
  <form id="login-form">
    <input type="email" id="login-email" placeholder="Email" required />
    <input type="password" id="login-password" placeholder="Mot de passe" required />
    <button type="submit">Se connecter</button>
  </form>

  <h2>Inscription</h2>
  <form id="signup-form">
    <input type="email" id="signup-email" placeholder="Email" required />
    <input type="password" id="signup-password" placeholder="Mot de passe" required />
    <button type="submit">S'inscrire</button>
  </form>
</div>

  <ul id="liste-notes">
    <!-- <li>tache</li>
    <li>tache</li>
    <li>tache</li> -->
  </ul>
  <h2 id="moyenne"></h2>

  <script src="main.js"></script>
</body>
</html>