<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Calculateur de notes</title>
</head>
<body>
  
  <form id="form">
    <label>Matière<input type="text" id="title" placeholder="Matière"></label>
    <label>Note<input type="number" id="note" placeholder="Note"></label>
    <label>Coefficient<input type="number" id="coeff" placeholder="Coefficient"></label>
    <input type="submit" value="Submit">
  </form>
  <ul id="liste-notes">
    <!-- <li>tache</li>
    <li>tache</li>
    <li>tache</li> -->
  </ul>
  <h2 id="moyenne"></h2>

  <script src="main.js"></script>
</body>
</html>